section.page-section.specification#specification
	.page-section__wrapper
		.container
			h3.title.specification__title Характеристики
			.specification__inner
				.specification__item
					.specification__box.specification__box-1
						h4.specification__box-title Dlog-M 10 бит
						p.specification__box-text Mavic 2 Pro поддерживает цветовой профиль Dlog-M 10 бит с более широким динамическим диапазоном, дающим больше возможностей для цветокоррекции.
					.specification__box.specification__box-2
						h4.specification__box-title Камера Hasselblad
						p.specification__box-text Камера Hasselblad L1D-20С известны эргономичным дизайном и превосходным качеством изображений.
				.specification__item.specification__item--center
					img(src="assets/images/mavic.png", alt="")
				.specification__item
					.specification__box.specification__box-3
						h4.specification__box-title Матрица CMOS 1
						p.specification__box-text Зона активной работы новой 1-дюймовой матрицы CMOS в четыре раза превышает показатели Mavic Pro
					.specification__box.specification__box-4
						h4.specification__box-title Видео HDR
						p.specification__box-text Благодаря поддержке видео 4K HDR 10 бит, Mavic 2 Pro можно подсоединить к совместимому с HLG 4K ТВ и просматривать запись в полном цветовом спектре
		.scroll__btn
			a(href="#questions")
				img(src="assets/images/arrow-down.svg", alt="")