section.page-section.questions#questions
	.page-section__wrapper
		.container
			h3.title.questions__title Остались вопросы?
			.questions__items
				.questions__item
					h4.questions__item-title Какие отличия между Mavic 2 Pro и Mavic 2 Zoom?
					p.questions__item-text В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс).
				.questions__item
					h4.questions__item-title Чем Mavic 2 лучше Mavic Pro?
					p.questions__item-text В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс).
				.questions__item
					h4.questions__item-title Можно ли подключить Mavic 2 к очкам DJI Goggles?
					p.questions__item-text В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс).
				.questions__item
					h4.questions__item-title Является ли Mavic 2 водонепроницаемым？
					p.questions__item-text В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс).
		.scroll__btn
			a(href="#contacts")
				img(src="assets/images/arrow-down.svg", alt="")
