section.page-section.benefits#benefits
	.page-section__wrapper
		.container
			h3.title.benefits__title Преимущества
			.benefits__items
				.benefits__item
					.benefits__num 1
					.benefits__img
						img(src="assets/images/benefits1.jpg", alt="")
					.benefits__info
						h4.benefits__info-title Интеллектуальные режимы
						p.benefits__info-text Mavic 2 унаследовал 6 стандартных режимов интеллектуальной съемки QuickShot:Roket/Dronie/Circle/Helix/Boomerang/Asteroid.
				.benefits__item
					.benefits__num 2
					.benefits__img
						img(src="assets/images/benefits2.jpg", alt="")
					.benefits__info
						h4.benefits__info-title Active Track 2.0
						p.benefits__info-text Усовершенствованный режим второго поколения распознаёт и отслеживает объекты ещё точнее, быстрее и умнее.
				.benefits__item
					.benefits__num 3
					.benefits__img
						img(src="assets/images/benefits3.jpg", alt="")
					.benefits__info
						h4.benefits__info-title Панорамная съемка
						p.benefits__info-text Mavic 2 поддерживает 4 режима панорамной съёмки: сферическая,180 градусов,горизонтальная, вертикальная
				.benefits__item
					.benefits__num 4
					.benefits__img
						img(src="assets/images/benefits4.jpg", alt="")
					.benefits__info
						h4.benefits__info-title Крутая камера!
						p.benefits__info-text Технология Hyperlapse в четырёх режимах исполнения.Улучшенный фото режим HDRФункция HyperLight для съёмки в условиях слабого освещения 4К съёмка
		.scroll__btn
			a(href="#specification")
				img(src="assets/images/arrow-down.svg", alt="")