
section.page-section.top
	.page-section__wrapper.top__wrapper
		.container
			.top__inner
				h1.top__title Mavic 2 Pro
				img(src="assets/images/mavic.png", alt="")
				p.top__text Квадрокоптер Dji Mavic 2 Pro с профессиональной камерой Hasselblad
				ul.top__social-list
					li.top__social-item
						a(href="#").top__social-link
							img(src="assets/images/facebook.svg", alt="")
					li.top__social-item
						a(href="#").top__social-link
							img(src="assets/images/youtube.svg", alt="")
					li.top__social-item
						a(href="#").top__social-link
							img(src="assets/images/instagram.svg", alt="")
		.scroll__btn
			a(href="#products")
				img(src="assets/images/arrow-down.svg", alt="")