section.page-section.contacts#contacts
	.page-section__wrapper
		.container
			h3.title.contacts__title Контакты
			.contacts__inner
				.contacts__info
					.contacts__info-box
						p.contacts__info-title Киев
						a(href="tel:+80505676767").contacts__info-phone +8 (050) 567– 67 – 67
						a(href="mailto:dgi.mavic2pro.kiev@mail.ru").contacts__info-email dgi.mavic2pro.kiev@mail.ru
					.contacts__info-box
						p.contacts__info-title Москва
						a(href="tel+74995676767").contacts__info-phone +7 (499) 567– 67 – 67
						a(href="mailto:dgi.mavic2pro.moscow@mail.ru").contacts__info-email dgi.mavic2pro.moscow@mail.ru
					.contacts__info-box
						p.contacts__info-title Минск
						a(href="tel:+375175676767").contacts__info-phone +3 (7517) 567– 67 – 67
						a(href="mailto:dgi.mavic2pro.minsk@mail.ru").contacts__info-email dgi.mavic2pro.minsk@mail.ru
				.contacts__form
					form
						h4.contacts__form-title Остались вопросы
						p.contacts__form-text Мы обязательно свяжемся с вами в течение двух рабочих дней
						.contacts__form-line
							input(type="text" placeholder="Ваше имя").contacts__form-input
							input(type="email" placeholder="Ваш у-mail").contacts__form-input
						textarea(placeholder="Что вас интересует?").contacts__form-textarea
						button(type="submit").contacts__form-button Отправить
				ul.contacts__social-list
					li.contacts__social-item
						a(href="#").contacts__social-link
							img(src="assets/images/facebook.svg", alt="")
					li.contacts__social-item
						a(href="#").contacts__social-link
							img(src="assets/images/youtube.svg", alt="")
					li.contacts__social-item
						a(href="#").contacts__social-link
							img(src="assets/images/instagram.svg", alt="")