section.page-section.products#products
	.page-section__wrapper
		.container
			h3.title.products__title Что такое Mavic 2 Pro?
			.products__inner
				.products__text
					p Дрон Mavic 2 Pro - это инженерное чудо, идеальное для аэросъемки. Дрон обладает всеми лучшими технологиями DJI, он преобразит мир аэросъемки.
					p Mavic 2 Pro оснащен совершенно новой камерой Hasselblad L1D-20c. Камера L1D-20c работает по уникальной технологии Hasselblad Natural Colour Solution (HNCS)5, позволяющей пользователям делать великолепные снимки с воздуха с разрешением в 20 мегапикселей и потрясающими цветами.
				.products__slider-box
					p.products__slider-text Лучшая беспилотная технология аэросъемки
					.products__slider
						.products__slider-item
							img.products__slider-img(src="assets/images/slider1.jpg", alt="")
						.products__slider-item
							img.products__slider-img(src="assets/images/slider1.jpg", alt="")
						.products__slider-item
							img.products__slider-img(src="assets/images/slider1.jpg", alt="")
						.products__slider-item
							img.products__slider-img(src="assets/images/slider1.jpg", alt="")
						.products__slider-item
							img.products__slider-img(src="assets/images/slider1.jpg", alt="")
						.products__slider-item
							img.products__slider-img(src="assets/images/slider1.jpg", alt="")
		.scroll__btn
			a(href="#benefits")
				img(src="assets/images/arrow-down.svg", alt="")
